* {
    box-sizing: border-box;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: none;
}

.buttons-container {
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 16px;
    white-space: nowrap;
}

.button {
    background: rgba(0, 0, 0, .1);
    border: none;
    border-radius: 4px;
    font-size: 0;
    padding: 4px 8px;
}

.button:hover {
    background: rgba(0, 0, 0, .15);
}

.button:focus,
.button:active {
    background: rgba(0, 0, 0, .2);
}

.editor {
    border: 2px solid rgba(0, 0, 0, .25);
    border-radius: 8px;
    min-height: 100px;
    padding: 8px;
}

.editor:focus,
.editor:active
{
    border: 2px solid rgba(0, 0, 0, .5);
}

/* Icons, see http://google.github.io/material-design-icons/#icon-font-for-the-web */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}
